body {
  font-family: "Noto Sans Bengali", sans-serif;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 400px;
}

.container h2 {
  background: #6abf8a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  border-radius: 10px;
  transition: 0.3s;
}

.adv {
  background: #f0f4ff;
  color: #003366;
  border: 2px solid #003366;
}

.adv .deadline {
  color: red;
  font-weight: normal;
  font-size: 14px;
}

.apply {
  background: linear-gradient(135deg,#00c853,#00e676);
  color: white;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
